<app-loader />
<div class="homepage1-body tg-heading-subheading animation-style3">
    <app-scroll-to-top />
    <app-topbar headerClass="header-area2" headerLogo="assets/images/logo/senegal-excursions-logo.jpg"
        logo="assets/images/logo/senegal-excursions-logo.jpg" mobileLogo="assets/images/logo/senegal-excursions-logo.jpg" mobileSidebarClass="mobile-sidebar1" />
    <router-outlet />
    <app-cta />
    <app-footer containerClass="footer1-section-area" logo="assets/images/logo/senegal-excursions-logo.jpg" />
</div>
